<a href="https://colab.research.google.com/github/Nowitkiewicz/Projects/blob/main/Project_no_3_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data downloaded from :

https://www.kaggle.com/competitions/titanic/data

Problem definition: Predict survivability of persons depending on provided passenger data.

Data dictionary

Variable-->Definition-->key

survival-->Survival --> 0 = No, 1 = Yes

pclass --> Ticket class --> 1 = 1st, 2 = 2nd, 3 = 3rd

sex --> Sex

Age --> Age in years

sibsp --> # of siblings / spouses aboard the Titanic

parch --> # of parents / children aboard the Titanic

ticket --> Ticket number

fare --> Passenger fare

cabin --> Cabin number

embarked --> Port of Embarkation C = Cherbourg, Q = Queenstown, S = Southampton

In [120]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [130]:
from google.colab import files
 
 
uploaded = files.upload()
# Enter path to downloaded train.csv file

Saving titrain.csv to titrain (6).csv

In [131]:
path = input('Please enter the downloaded file name ')

Please enter the downloaded file name titrain (6).csv

In [134]:
traintitanic = pd.read_csv(path)

In [135]:
traintitanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [136]:
from google.colab import files
 
 
uploaded = files.upload()
# Enter path to downloaded test.csv file

Saving titest.csv to titest (1).csv

In [137]:
path = input('Please enter the downloaded file name ')

Please enter the downloaded file name titest (1).csv

In [138]:
testtitanic = pd.read_csv(path)

In [139]:
testtitanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [140]:
traintitanic = titanic

In [141]:
#Check of general data type in provided set:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int16
 4   Sex          891 non-null    int8
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int16
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int16
 11  Embarked     891 non-null    int8
dtypes: float64(2), int16(3), int64(5), int8(2)
memory usage: 55.8 KB

In [142]:
#Check of quantity of null values in set:
titanic.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In order to train ML model on provided dataset, data must be in numerical type.
First step is to change "object" type columns into "category" type.

In [143]:
for label, content in titanic.items():
    if pd.api.types.is_object_dtype(content):
        print(label)
        titanic[label] = content.astype('category').cat.codes + 1

In [144]:
#Check of general data type in provided set after data type changes:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int16
 4   Sex          891 non-null    int8
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int16
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int16
 11  Embarked     891 non-null    int8
dtypes: float64(2), int16(3), int64(5), int8(2)
memory usage: 55.8 KB

In [145]:
#In next step we'll check and try to fill missed numeric data.
titanic['Age'] = titanic['Age'].fillna(np.mean(titanic['Age']))
type(titanic['Age'])
#print(titanic['Age'])
#titanic['Age'] = titanic['Age'].astype('category')
#titanic.info()

pandas.core.series.Series

In [146]:
# Scaling dataset...
from sklearn.preprocessing import StandardScaler
Sc = StandardScaler()
Sc.fit_transform(titanic)

array([[-1.73010796, -0.78927234,  0.82737724, ..., -0.50244517,
        -0.4624902 ,  0.58796609],
       [-1.72622007,  1.2669898 , -1.56610693, ...,  0.78684529,
         1.6886722 , -1.91264387],
       [-1.72233219,  1.2669898 ,  0.82737724, ..., -0.48885426,
        -0.4624902 ,  0.58796609],
       ...,
       [ 1.72233219, -0.78927234,  0.82737724, ..., -0.17626324,
        -0.4624902 ,  0.58796609],
       [ 1.72622007,  1.2669898 , -1.56610693, ..., -0.04438104,
         1.13776476, -1.91264387],
       [ 1.73010796, -0.78927234,  0.82737724, ..., -0.49237783,
        -0.4624902 , -0.66233889]])

In [147]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int16
 4   Sex          891 non-null    int8
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int16
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int16
 11  Embarked     891 non-null    int8
dtypes: float64(2), int16(3), int64(5), int8(2)
memory usage: 55.8 KB

In [148]:
#Now as all of our data are in numeric format we'll be able to apply set to machine learning model.
#Our goal is to predict "Survived" people.

In [149]:
#Define X and y sets for further analisys.
X = titanic.drop('Survived',axis=1)
y = titanic['Survived']

In [150]:
#Import necessary tools...
from sklearn.model_selection import train_test_split

In [151]:
#Splitting the data into train and test sets:
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.2)

In [152]:
#Import classification model...
from sklearn.ensemble import RandomForestClassifier

In [153]:
#Instantiate imported model...
Clf = RandomForestClassifier()

In [154]:
#Fitting a model to prepared datasets...
Clf.fit(X_train,y_train)

RandomForestClassifier()

In [155]:
#Evaluating model...
Clf.score(X_test,y_test)

0.8715083798882681

In [156]:
#Import test dataset to predict accuracy of our trained model... 
test_df = input('Please enter downloaded test set file name ')

KeyboardInterrupt: ignored

In [157]:
test_df = testtitanic

In [158]:
pd.DataFrame(test_df)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [159]:
#Processing data to fit in the model...
for label, content in test_df.items():
    if pd.api.types.is_object_dtype(content):
        print(label)
        test_df[label] = content.astype('category').cat.codes + 1

Name
Sex
Ticket
Cabin
Embarked

In [160]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int16
 3   Sex          418 non-null    int8
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    int16
 8   Fare         417 non-null    float64
 9   Cabin        418 non-null    int8
 10  Embarked     418 non-null    int8
dtypes: float64(2), int16(2), int64(4), int8(3)
memory usage: 22.6 KB

In [161]:
test_df['Age'] = test_df['Age'].fillna(np.mean(test_df['Age']))
test_df['Fare'] = test_df['Fare'].fillna(np.mean(test_df['Fare']))

In [162]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int16
 3   Sex          418 non-null    int8
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    int16
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    int8
 10  Embarked     418 non-null    int8
dtypes: float64(2), int16(2), int64(4), int8(3)
memory usage: 22.6 KB

In [163]:
for label, content in test_df.items():
    if pd.api.types.is_object_dtype(content):
        print(label)
        test_df[label] = content.astype('category').cat.codes + 1

In [164]:
#Now our dataset can be processed with ML model...
Clf2 = Clf.predict(test_df)
Clf2

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0])

In [165]:
Change_to_list = list(Clf2)

In [166]:
Change_to_list.count(0),Change_to_list.count(1)

(259, 159)

In [167]:
#General score on the provided test dataset:
Drowned2Survived_score = (Change_to_list.count(0)/Change_to_list.count(1))

In [168]:
Drowned2Survived_score

1.628930817610063

In [169]:
#Number of drowned people:
Change_to_list.count(0)

259

In [170]:
#Number of survived people:
Change_to_list.count(1)

159